
.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
  }
  
  .login-message {
    font-size: 20px;
    color: #f44336;
    text-align: center;
    margin-top: 20px;
  }
  

  .product-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-table th,
  .product-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .product-table th {
    background-color: #007BFF;
    color: white;
  }
  
  .product-table tr:hover {
    background-color: #f1f1f1;
  }
  
  